/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: white;
  --bg-color: rgb(22, 22, 24);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
}

body {
  background-color: var(--bg-color);
  min-height: 100vh;
  overflow-y: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

body * {
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--text-color);
}

#container {
  width: 100%;
  max-width: 588px;
  margin: 0 auto;
  padding: 0 24px;
}

#user {
  text-align: center;
  padding: 16px; /* Reduced padding */
}

#user img {
  width: 200px;
  height: 200px;
  border-radius: 20%;
  border: 4px solid #fff;
  position: relative;
  z-index: 1;
}

#user p {
  font-weight: 500;
  line-height: 1.2; /* Changed from fixed 90px */
  font-size: clamp(32px, 5vw, 60px); /* Responsive font size */
  margin-top: 20px;
}

ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  padding: 16px 0;
  margin: 0;
}

ul li {
  aspect-ratio: 1;
}

ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 12px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  text-decoration: none;
  font-weight: 500;
  transition: background 0.2s;
  width: 100%;
  height: 100%;
}

ul li a .icon {
  font-size: 4em;
  position: absolute;
}

ul li a .text {
  margin-top: auto; /* PUSHES TEXT TO THE BOTTOM */
  }

/* Add media queries for better responsiveness */
@media screen and (max-height: 800px) {
  #user img {
    width: 170px;
    height: 170px;
    margin-top: 12px;
  }
  
  #user {
    padding: 12px;
  }
  
  ul {
    padding: 12px 0;
  }
}

/*@media screen and (max-width: 480px) {
  ul {
    grid-template-columns: repeat(2, 1fr); /* Switch to 2 columns on mobile 
  }
}*/
